IO_LOC "col1" 25;
IO_LOC "col2" 26;
IO_LOC "col3" 27;
IO_LOC "col4" 28;
IO_LOC "row1" 29;
IO_LOC "row2" 30;
IO_LOC "row3" 33;
IO_LOC "row4" 34;

IO_PORT "col1" IO_TYPE=LVCMOS33;
IO_PORT "col2" IO_TYPE=LVCMOS33;
IO_PORT "col3" IO_TYPE=LVCMOS33;
IO_PORT "col4" IO_TYPE=LVCMOS33;
IO_PORT "row1" IO_TYPE=LVCMOS33;
IO_PORT "row2" IO_TYPE=LVCMOS33;
IO_PORT "row3" IO_TYPE=LVCMOS33;
IO_PORT "row4" IO_TYPE=LVCMOS33;